[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/osuny-plugin-centered-footer"]
	path = themes/osuny-plugin-centered-footer
	url = git@github.com:osunyorg/osuny-plugin-centered-footer.git
